@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-16px);
    }
    60% {
        -webkit-transform: translateY(-7px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-16px);
        transform: translateY(-16px);
    }
    60% {
        -webkit-transform: translateY(-7px);
        transform: translateY(-7px);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    background-color: rgba(255, 34, 51, 0.62) !important;
    color: #fff;
    opacity: 0.75;
}

.taggle_list {
    float: left;
    width: 100%;
}

.taggle_input {
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
}

.taggle_list li {
    float: left;
    display: inline-block;
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 5px;
}

.taggle_list .taggle {
    margin-right: 8px;
    background: #E2E1DF;
    padding: 5px 10px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.taggle_list .taggle_hot {
    background: #cac8c4;
}

.taggle_list .taggle .close {
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 3px;
    text-decoration: none;
    padding-left: 2px;
    padding-top: 3px;
    line-height: 0.5;
    color: #fff;
    opacity: 1;
    padding-bottom: 4px;
    display: none;
    border: 0;
    background: none;
    cursor: pointer;
}

.taggle_list .taggle:hover {
    padding: 5px;
    padding-right: 15px;
    background: #ccc;
    transition: all .3s;
}

.taggle_list .taggle:hover > .close {
    display: block;
}

.taggle_list .taggle .close:hover {
    color: #990033 !important;
    opacity: 1;
}

.taggle_placeholder {
    position: absolute;
    color: #CCC;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    transition: opacity, .25s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.taggle_input {
    padding: 8px;
    padding-left: 0;
    float: left;
    margin-top: -5px;
    background: none;
    width: 100%;
    max-width: 100%;
    border: none !important;
}

.taggle_input:focus {
    box-shadow: none !important;
}

.taggle_sizer {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -500px;
    z-index: -1;
    visibility: hidden;
}

/*container styles*/
.taggle-block {
    border: 0;
    background: #FDFDFD;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(255, 255, 255, 0.7);
    min-height: 40px;
    padding: 8px;
    border-radius: 3px;
    color: #555;
    transition: all .25s;
    cursor: text;
    margin-bottom: 10px;
    position: relative;
}

.taggle-block:focus,
.taggle-block.active {
    background: #fff;
    transition: all .25s;
}

.taggle-block {
    height: auto;
}

.taggle-block.tags {
    position: relative;
}

.taggle-block.tags * {
    box-sizing: content-box;
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
}

.ui-menu {
    list-style: none;
    padding: 2px;
    margin: 0;
    display: block;
    outline: none;
}

.ui-widget-content {
    background: #fff;
    color: #990033;
}

.ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    width: 100%;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    min-height: 0;
    font-weight: normal;
    color: #8a8a8a;
    cursor: pointer;
}

.ui-menu .ui-menu-item a:hover {
    color: #fff;
    background: #990033;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    background: #990033;
    color: #fff !important;
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
    color: #fff;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #aaaaaa;
    background: #ffffff;
    font-weight: normal;
    color: #212121;
}

.ui-helper-hidden {
    display: none;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.autocomplete {
    max-height: 200px;
    overflow: scroll;
    position: absolute;
    top: 66px;
    background: white;
    width: 99.5%;
    left: 0.25%;
    z-index: 2;
}

.autocomplete ul li {
    display: block;
    padding: 6px 8px;
}

.autocomplete ul li.selected, .autocomplete ul li:hover {
    background: #ff6633;
    color: #fff;
    cursor: pointer;
}

.ui-autocomplete {
    max-height: 200px;
    overflow: scroll;
    width: 99% !important;
}

.article-tag:first-child {
    margin-left: 5px;
}

.article-tag {
    display: inline-block;
    padding: 2px 10px;
    margin-right: 5px;
    color: #8a8a8a;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-style: italic;
}